stock_daily.j2
{# 
美國銀行08月27日每日快報：

美國銀行，代號B A C，收盤價 $ 31.31。 

美國銀行曾經在3天前出現符合夜星的反轉訊號，開始下降。目前，訊號所衍生的下降趨勢並未持續。 在過去12個月的價格囘側中，出現過18次夜星信號，但是獲利率為-7%。 

另外，MACD看跌的看空訊號也在14天前出現，目前還在持續中並未改變，但已逐漸下滑，與夜星的方向一致，進而發出更加明確的看空訊息。 

在之前同一期間也有過11次MACD看跌，只是獲利為-13%，並非有效策略。美國銀行近期上漲3個交易日, 總共為1%。 
在過去14月裏其最大變幅在于08月25日和02月15日之間攀升36%。依據美國銀行股價波動狀況，預估下一週價位有七成可能會在30到33元之間波動。上漲機率大約為58%。
 
#}