{% if 'fcsChg' in f %} {% set fcsChg=f['fcsChg'] %} {% endif %}
{% if 'lsc' in f %} {% set lsc=f['lsc'] %} {% endif %}

{% if 'MACD' in strategyName %}
{{label}} {{pastAdv}} emerged the {{strategyName}} signal. So far, the {{comingTrendWd}} signal {{continueTrendWd}} and {{continueStatusClause}}. Backtest in the past {{monthWd}}，there are {{countWd}} of {{strategyName}} signals，{{trrAdv}} with total return at {{trrPct}}.

{% else %}
{{label}} {{pastAdv}} appeared a reversing signal {{strategyName}} {{pastDayWd}}, {{comingTrendWd}} started to emerge. Currently, the {{comingTrendWd}} signal {{continueTrendWd}} and {{continueStatusClause}}. Backtest in the past {{monthWd}}，there are {{countWd}} of {{strategyName}} signals，{{trrAdv}} with total return at {{trrPct}}. 
{{enhanceClause}}

{% endif %}

{#
{%- if fcsChg is not None %}
{%- if (fcsChg>0.01 and lsc=='long' ) or (fcsChg<-0.01 and lsc=='short' )%}
This {{rdWord('might be the time|should be able')}} to adjust the position.
{%- endif %}
{%- endif %}
#}

