{%if macro1Label %}	
{{macro1Label}} published at {{vntDateWd}}, {{pastTrendWd}} from last {{unitStr}}.
{% endif %}	
{{indicator1Label}} {{indicator1XTrendWd}}, while the {{currency1Label}} {{currency1XTrendWd}} against the US dollar, {{macro1Adv}} the {{rate1Label}} {{macro11Adv}} {{rate1XTrendWd}}.  In the stock market, {{mkt1Label}} {{mkt1XTrendWd}}, while the {{mkt2Label}} {{mkt2Adv}} {{mkt2XTrendWd}}.  Our AI recommended sector is {{mkt0Label}}.
        Now, here is our exclusive AICaas market updates and forecasts.
