{%if macro1Label %}	
{{macro1Label}}在{{vntDateWd}}公佈，比前一{{unitStr}}{{pastTrendWd}} 。
{% endif %}	
在股市中，隨者{{mkt1Label}}的{{mkt1XTrendWd}}，{{mkt1Adv}}{{mkt2Label}}{{mkt2Adv}}{{mkt2XTrendWd}}。
{{indicator1Label}}在日前{{indicator1XTrendWd}}，{{indicator1Adv}}{{indicator2Label}}{{indicator2Adv}}{{indicator2XTrendWd}}。
在匯率方面，昨日{{currency1Label}}{{currency1XTrendWd}}，{{currency2Label}}呈{{currency2XTrendWd}}現象。從年初起，隨著美國利率的上升，對於美元貨幣的持續強勢產生一定程度的推波助瀾作用。一般而言，強勢美元不利美國經濟長期發展，而美元貶值則有利於股價提升。
<NOTE: not compromise between long/short view > 
由於受到升息的影響，{{rate1Label}}{{rate1XTrendWd}}來到{{roundPct(rate1XChg,1)}}，{{rate1Adv}}{{rate2Label}}{{rate2Adv}}{{rate2XTrendWd}}。雖然升息消息對股市來說有一定的負面影響，不過長天期與短天期的利率差{{udfStr(rate10y3m_dif,['過分陡峭','反轉','並沒有過分陡峭'],1.5)}}，對於通貨膨脹的預期還停在{{roundSD(inflation_expectation,1)}}%左右的空間裡面，除非將來對於通貨膨脹上升的預期有所改變，近期利率走勢所引起的震盪對於總體經濟的負面影響不大。對於股市的負面影響也僅僅是短期消息性的小衝擊。
有關大宗商品{{commodity1Label}}和{{commodity2Label}}基本上呈現{{commodity12Adv}}的趨勢。
{{commodity1Label}}目前{{commodity1XTrendWd}}，{{commodity1Adv}}{{commodity2Label}}{{commodity2Adv}}{{commodity2XTrendWd}}。
依據本週走勢分析，智能伏羲 AI推薦的產業為{mkt0Label} 。
接下來是我們獨家智能伏羲有關市場更新和預測。
