{# RUN daily market briefing for [EoD,SoD]  #}
{%- if _pn_ is undefined -%} {%- set _pn_={} -%} {%- endif -%}
{%- do _pn_.update(templateName='daily_briefing') -%}
{%- set pd = import_module('pandas') -%}
{%- set t2l = getattr(import_module('ticker2label'),'ticker2label') -%}
{%- set tmplLst=[] -%}
{%- set dirname = 'templates' if dirname is undefined else dirname -%}
{%- set outdir = 'US/mp3_hourly' if outdir is undefined else outdir -%}
{%- set mp3YN = False if mp3YN is undefined else mp3YN -%}
{%- set lang = 'cn' if lang is undefined else lang -%}
{%- set pbdt = next_date() -%}
{%- set cdt = next_date() if cdt is undefined else pd.Timestamp(cdt) -%}
{%- set start = dt2ymd(cdt) if start is undefined else start -%}
{%- set hhmm = int(cdt.strftime("%H00")) if hhmm is undefined else hhmm -%}
{%- set end_hm = hhmm if end_hm is undefined else end_hm -%}
{%- if int(end_hm) <1600 -%}
  {%- set end_hm, category =  900, "SoD" -%}
{%- else -%}
  {%- set end_hm, category = 1600, "EoD" -%}
{%- endif -%}
{%- set rpt_time = pd.Timestamp("{} {:04d}".format(start,end_hm)) if rpt_time is undefined else rpt_time -%}
{%- set rptDateTimeWd = ymd2md(rpt_time,ym='%m%d -%H:%M',lang=lang,mp3YN=mp3YN) -%}
{%- do _pn_.update(pbdt=pbdt,lang=lang,rpt_time=rpt_time,rptDateTimeWd=rptDateTimeWd,category=category) -%}

{%- include "intraday_headline_cn.j2" -%}
{%- include "mktidx_performance.j2" -%}
{%- include "daily_mostactive.j2" -%}
{%- include "daily_macro_cn.j2" -%}
{%- set ticker = _pn_['leadTicker'] -%}
{%- include "daily_single_stock_cn.j2" -%}
{%- include "daily_conclusion.j2" -%}
{%- do _pn_.update(tmplLst=tmplLst) -%}
