{%- block closing -%}
{# for debugging purpose {{dMnMx}} #}

{% set lang = 'cn' %}
{% set pctChg_open = copen/xprice-1 %}
{% set trend_open = udfStr(pctChg_open,['高','低','盤持平'],0.0015,lang=lang) %}
{% set rptDateTimeWd = ymd2md(rpt_time,ym='%m%d %H:%M',lang=lang) or '' %}

{# for closing  #}
{# set pctChg_hourly = cprice/xprice-1 #}
{# for 10am-4pm  #}
{% set cprice = dMnMx['actual'].iloc[-1] %}
{% set pctChg_hourly = dMnMx['pchg_open'].iloc[-1] %}
{% set npn = 2 if cprice < 200 else 0 %}

{% set alert_volume = udfStr(volS,['，並且成交量偏高','，不過成交量偏低',''],[ubound,lbound]) %}
{% set trend_hourly = udfStr(pctChg_hourly,zs=0.0015,lang=lang) %}

{% set pctChg_last = dMnMx['actual'].pct_change().values[-1] %}

{# setiment for happy/sad talk comparing to previous close #}
{% if pctChg_hourly >= 0 %}
{% set trend_last = udfStr(pctChg_last,zs=0.0015,lang=lang) %}
{% else %}
{% set trend_last = udfStr(pctChg_last,['回復','持續惡化'],zs=0.0015,lang=lang) %}
{% endif %}

{{rptDateTimeWd}}盤中走勢快報:
{{label}}早盤開{{trend_open}}， 目前{{trend_hourly}}
{%- if abs(pctChg_hourly) > 0.001 -%}
{{ roundPct(pctChg_hourly,2)}}
{%- endif -%} 
來到{{ roundSD(cprice,npn) }}{{alert_volume}}。

{%- endblock -%}
