{% set label = '主要貨幣美元指數' %}
{% set range_chg = (f['actual'].iloc[-1]/f['actual'].iloc[0]-1) %}
{{label}}近期{{past_udf}}{{past_difday}}{{unitStr}}， 總共為{{past_act_chg_pct}}。
{%if act_chg_zscore|abs > 1.96 %} {# define syntax display #}
在過去{{past_range}}裏，{{label}}已經{{udfStr(range_chg,lang='cn')}}了{{roundPct(range_chg)}}。
其最大變幅在于{{latest_startYM}}和{{latest_endYM}}之間{{latest_udf}}{{latest_act_chg_pct}}。{% endif %}
