{{label}} recently {{past_udf}} {{past_act_chg_pct}} for {{past_difday}} {{unitStr}}.
{%if act_chg_zscore > 1.96 %} {# define syntax display #}
    In the past {{past_range}}, the latest movement is between {{latest_startYM}} and {{latest_endYM}}, {{latest_udf}} {{latest_act_chg_pct}}.
{% endif %}
