<FORM action='/portfolio?topic=theme&subtopic=majorplayer' method='post' onsumbit="return function(data){}" >
<SELECT name=fund>
  <OPTION value="berkshire-hathaway" > BerkShire Hathaway
  </OPTION>
  <OPTION value="blackrock" > Blackrock
  </OPTION>
  <OPTION value="bridgewater-associates-lp" > Bridgewater
  </OPTION>
  <OPTION value="goldman-sachs-group" > Goldman Sachs
  </OPTION>
  <OPTION SELECTED value="renaissance-technologies-llc" > Renaissance Technologies
  </OPTION>
</SELECT>
<input hidden type="submit" name="submit" value="Find">
</FORM>
