<FORM id="filterForm" action='/portfolio?search=list&topic=ytdRtn' method='post' onsumbit="return function(data){}" >
By: <SELECT name=subtopic style="width:120px;padding:2px;">
  <OPTION SELECTED value=sector > Sector
  </OPTION>
  <OPTION  value="industry"  >Industry
  </OPTION>
  <OPTION  value="ticker"  >Ticker
  </OPTION>
</SELECT>
<input hidden type="submit" name="submit" value="Run">
</FORM>
<script>
  $("[id=headline]").html("Pandemic current and lowest 3/23 Performance since SP500 2/19 Peak");
  $("[id=headline]").css("font-size","12pt");
  $("select[name='subtopic']")[0].value="{{subtopic|safe}}";
</script>
